.root {
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .root {
        background-position: top;
    }
}

.logoImg {
    width: 75%;
    margin: 0 auto;
}

.heroTextContainer {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    background-color: rgba(23,43,84, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: '0 1rem'
}

.heroTextContainer h1 {
    text-transform: uppercase;
}

@media (min-width: 768px) {
	.heroTextContainer {
        padding: 0 8rem;
        background-color: rgba(23,43,84, 0.8);
    }
}

.heroText {
    color: #fff;
}
.subText {
    color: #fff;
}

.boldSubText {
    font-weight: 700;
    color: #fff;
}
.divider {
    width: 40%;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 50px;
}