.navbar {
    background-color: #020202;
    color: #fff;
    width: 100%;
    z-index: 99;
    padding: 1rem !important;
}

.navToggle {
    color: #fff;
}

.navItem {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navItem:hover {
    text-decoration: none;
}

.navItem a:hover {
    color: #fff;
}

.logoImgLink {
    position: relative;
    display: inline-block;
    width: 150px;
    height: auto;
}

.selectionLine {
    background-color: #0799d6;
    position: absolute;
    height: 1px;
    width: 25px;
    margin: 0.25rem 1rem 0;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.navItem:hover + .selectionLine,
.selectionLine.active {
    opacity: 1;
}

.horizontalBar {
    height: 25px;
    width: 1px;
    background-color: #0799d6;
}

@media screen and (max-width: 768px) {
    .nav-item {
        padding: 10px 20px;
        text-align: center;
    }
    .nav-item > a {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .navbar-nav {
        padding: 30px 0;
    }
    .selectionLine {
        background-color: #0799d6;
        height: 1px;
        width: 50%;
        margin: 0.25rem auto 0;
        position: relative;
    }
    .horizontalBar {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .nav-item {
        padding: 10px 10px;
        text-align: center;
    }
    .nav-item > a {
        font-size: 0.75rem;
        font-weight: 600;
    }
    .navItem {
        margin: 0;
    }
    .horizontalBar {
        padding-top: 3rem;
        height: 25px;
        width: 1px;
        background-color: #0799d6;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 30px 15px !important;
    }
    .logoImgLink {
        position: absolute;
        display: inline-block;
        width: 150px;
        height: auto;
    }
}