html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fcfcfc;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

/* Typography */
h1 {
	font-weight: 700;
	font-size: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	color: #001743;
}

h2 {
	font-size: 1.4rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

}

a {
	color: #000;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

a:hover {
	color: #0799d6;
	text-decoration: none;
}

ul {
font-size: 1rem;
}

.altLink:hover {
	color: #bcbdbd;
}

.heroBackground {
	background-image: '../src/images/bgMain.jpg';
	background-size: cover;
}

.bottom-spacer {
	padding-bottom: 1rem;
}

.hs-form-iframe {
	width: 100% !important;
}

.app-body {
	padding-top: 72px;
}

.formContainer {
	margin: 0 auto;
}

.scroll-indicator {
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center; 
	color: #fff;
	margin-top: -3rem;
	text-transform: uppercase;
	font-weight: 700; 
	font-size: 2rem;
	bottom: 40px;
} 

.button-main {
    background-color: #0799d6;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-main:disabled,
.button-main:hover:disabled {
    background-color: #c7c7c7;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
}

.button-main:hover {
    color: #fff;
    background-color: #215fac;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid #215fac;
}

.button-secondary {
    color: #0799d6;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid #0799d6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-secondary:hover {
    background-color: #215fac;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid #215fac;
}

/* Hero universal styles */
.hero {
	height: 90vh;
}

.heading-border {
	position: relative;
	display: inline-block;
	width: 60%;
	background-color: #fff;
	height: 2px;
}

.heroTextContainer {
    background-color: rgba(23,43,84, 0.3);
}

.heroTextContainer h1 {
    text-transform: uppercase;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.6;
	margin: 0;
}

.heroTextContainer h1 span {
    font-weight: 700;
}

.heroTextContainer p {
	margin: 0;
}

.heroLogo {
	width: 50%;
}

.main-quiz {
	min-height: 100vh;
}

.main-btn {
	color: #fff;
	background-color: #001743;
	border-color: #001743;
	border-radius: 40px;
}

.main-btn:hover {
	color: #fff;
	background-color: #0099d6;
	border-color: #0099d6;
}

.main-btn.selected {
	color: #fff;
	background-color: #0099d6;
	border-color: #0099d6;
}

.main-btn:disabled,
.main-btn.disabled {
	background-color: gray;
	border-color: gray;
}

.main-btn img {
	opacity: 0;
	vertical-align: text-bottom;
	transition: all 0.15s ease-in-out;
}

.main-btn img.img-selected {
	opacity: 1;
}

.main-btn-light {
	color: #fff;
	background-color: #0099d6;
	border-color: #0099d6;
	border-radius: 40px;
}

.main-btn-light:hover {
	color: #fff;
	background-color: #00b6ff;
	border-color: #00b6ff;
}

.main-btn-light.selected {
	color: #fff;
	background-color: #00b6ff;
	border-color: #00b6ff;
}

.quiz-headline h1 {
	font-size: 1.8rem;
	font-weight: 800;
}

.quiz-wrapper h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

.blue-background {
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	background-color: rgba(23,43,84, 0.3);
	color: #fff;
	padding: 2rem;
}

.solid-blue-background {
	background-color: #172b54;
	color: #fff;
	padding: 2rem;
}

/* FAQ Page */
.faq h3 {
	margin: 2rem 0 1rem 0;
}

/* Price Page */
.card-header {
	color: #fff;
	background-color: #172b54;
	border:1px solid #172b54;
}

.card {
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-price {
	background-color: #0899d6;
}

.card-price h2 {
	font-weight: 900;
	color: #fff;
}

.price-container {
	border: 8px solid #fff;
	width: 200px;
    height: 200px;
    background-color: #0899d6;
	border-radius: 50%;
	margin-bottom: -50px;
}

.card-molecule {
	width: 80px;
	height: auto;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.priceList {
	list-style: none;
}

.priceItem {
	margin: 1rem;
	display: flex;
	justify-content: flex-start;
}

.priceIcon {
	margin-right: 2rem;
}

/* Contact Form */
.contact-container h3,
.contact-container p {
	margin: 0;
}

/* Single Blog Page */
.blog-hero {
	height: 40vh;
	position: relative;
}

/* TRT Page */
.trt-bg-overlay {
	background-color: rgba(0, 23, 67, 0.7);
	color: #fff;
}

.moveMobileImage {
	background-position: -500px;
}

/* Get Started Terms  */
.terms1,
.terms2  {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.terms1 input,
.terms2 input {
	margin-top: 0.5rem;
	margin-right: 10px;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 50px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0799d6;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.topicalAdvantage h2 {
	font-weight: 900;
	font-size: 3rem;
}

/* About page */
.staff-img {
	width: 170px;
	height: 170px;
}

.about-hero-img {
	height: 50vh;
}

.about-full-image {
	background-position: -150px;
}

.sub-footer {
	background-color: #0799d6;
	color: #fff;
}

.sub-footer h2 {
	font-weight: 300;
}

.sub-footer h3 {
	font-weight: 300;
}

.column-text h2,
.column-text h3 {
	font-weight: 600;
}

.trt-columns h2,
.trt-columns h3 {
	font-weight: 600;
}

.trt-columns ul {
	text-align: left;
}

/* Global Animations */

.shake-vertical {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: auto;
	-webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
* Generated by Animista on 2020-2-3 7:35:58
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation shake-vertical
* ----------------------------------------
*/
@-webkit-keyframes shake-vertical {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	80% {
		-webkit-transform: translateY(1.4px);
		transform: translateY(1.4px);
	}
	90% {
		-webkit-transform: translateY(-1.4px);
		transform: translateY(-1.4px);
	}
}
@keyframes shake-vertical {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	80% {
		-webkit-transform: translateY(1.4px);
		transform: translateY(1.4px);
	}
	90% {
		-webkit-transform: translateY(-1.4px);
		transform: translateY(-1.4px);
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.quiz-headline h1 {
		font-size: 3rem;
	}
	.quiz-headline h1 {
		font-size: 2rem;
	}
	.quiz-wrapper h2 {
		font-size: 1.2rem;
	}
	.heroTextContainer {
        background-color: rgba(0, 23, 67, 0.7);
	}
	.about-hero-img {
		height: auto;
	}

	.about-full-image {
		background-position: left -75px;
	}

}

@media screen and (min-width: 900px) { 
	.quiz-headline h1 {
		font-size: 2.6rem;
	}
	.quiz-wrapper h2 {
		font-size: 1rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
	.moveMobileImage {
		background-position: left;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	h1 {
		font-size: 3rem;
	}	
	h2 {
		font-size: 1.8rem;
	}	
	h3 {
		font-size: 1.2rem;
	}
	.quiz-headline h1 {
		font-size: 2rem;
	}
	.quiz-wrapper h2 {
		font-size: 1.2rem;
	}
	.scroll-indicator {
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center; 
		margin-top: -9rem;
		text-transform: uppercase;
		font-weight: 700; 
		font-size: 4rem;
		bottom: 75px;
	}
	.hero {
		height: 100vh;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 
	.quiz-hero{ 
		display: none;
	}
}
